<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaeseong.kakao.dao.ChattingMapper">
	<select id="getAllChats" resultType="ChattingDTO">
		select * from chatting
		where (send_id=#{id_1} and res_id=#{id_2}) or (send_id=#{id_2} and res_id=#{id_1})
		order by r_time asc
		limit 1
	</select>
	
	<select id="getMaxId" resultType="int">
		select max(id) from member
	</select>
	
	<select id="getAllchatting" resultType="ChattingDTO">
		select * from chatting
		where (send_id=#{id_1} and res_id=#{id_2}) or (send_id=#{id_2} and res_id=#{id_1})
		order by r_time asc
	</select>
	
	<insert id="addChatText" parameterType="ChattingDTO">
		insert into chatting(send_id, res_id, content)
		values (#{send_id}, #{res_id}, #{content})
	</insert>
	
	<select id="getLastChat" resultType="int">
		select max(id) from chatting
		where (send_id=#{id_1} and res_id=#{id_2}) or (send_id=#{id_2} and res_id=#{id_1})
	</select>
	
</mapper>